body{
    width: 100%;
    height: 100%;
    background-color: rgb(224, 78, 78);
    display: flex;
}

/* CSS do container geral */
.container-geral{
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    display: flex;
}

/* CSS da barra lateral - menu */
.sidebar{
    width: 15vw;
    height: 100vh;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    z-index: 98;
}




.content{
    width: 85vw;
    height: 100vh;
}